/***** General style *****/
body {
  display: table;
  margin: 20px auto auto;
  font-family: Arial, sans-serif;
}

.error {
  color: #914141;
}

.row {
  display: flex;
}

.row > .col {
  flex: 1;
}

/***** Toggle buttons *****/
.toggle-buttons > button {
  flex: 0;
  line-height: 30px;
  color: #444;
  background-color: #fafafa;
  font-size: 11pt;
  border: 1px solid #999;
  border-right: none;
  outline: none;
  cursor: pointer;
}

.toggle-buttons > button:last-child {
  border-right: 1px solid #999;
}

.toggle-buttons > button.active {
  color: #fff;
  background-color: #4c7d95;
}



/***** SVG *****/
svg {
  background-color: white;
}

.axis {
  shape-rendering: crispEdges
}

.axis path,
.axis line {
  fill: none;
  stroke: black;
  shape-rendering: crispEdges;
}

h1 {
  font-size: 1.3em;
  margin: 15px 0 20px 0;
  text-align:center;
}
circle {
  fill-opacity: 0.7;
}

circle:hover {
  fill-opacity: 0.9;
}
.reset {
  fill-opacity: 0.9;
}
.active {
  fill: #000;
  fill-opacity: 1;
}

.hide {
  fill-opacity: 0.15;
}

/***** Tooltip *****/
.d3-tip {
  line-height: 1;
  padding: 12px;
  border-radius: 2px;
  color: #fff;
  background: rgba(0, 0, 0, 0.8);
}

.d3-tip:after {
  display: inline;
  top: 100%;
  left: 0;
  width: 100%;
  margin: -1px 0 0 0;
  box-sizing: border-box;
  font-size: 10px;
  line-height: 1;
  color: rgba(0, 0, 0, 0.8);
  content: "\25BC";
  position: absolute;
  text-align: center;
}
/*********/
